[submodule "helloworld"]
	path = helloworld
	url = https://github.com/fw876/helloworld
[submodule "theme/luci-theme-argon"]
	path = theme/luci-theme-argon
	url = https://github.com/jerrykuku/luci-theme-argon.git
	branch = 18.06
